@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');

body {
    background-image: url("bg.jpg");
    height: 1080px;
    background-repeat: no-repeat; 
    background-size: contain; 
}

.normalButton {
    font-family: "Akshar", sans-serif;
    font-weight: 600;
    font-size: 30px;
    height: 50px;
    width: 130px;
    color: #F3ECD9;
    background-color: #C5D272;
    border: 4px solid #A1AD53;
    border-radius: 12px;
    outline: 6px solid #F3ECD9;
    box-shadow: 5px 5px 7px 5px #a7a7a7;
}

.normalButton:hover {
    font-family: "Akshar", sans-serif;
    text-shadow: 2px 2px #6b6b6b;;
    font-weight: 600;
    font-size: 30px;
    height: 50px;
    width: 130px;
    color: #F3ECD9;
    background-color: #C5D272;
    border: 4px solid #A1AD53;
    border-radius: 12px;
    outline: 6px solid #F3ECD9;
    box-shadow: 5px 5px 2px 5px #6b6b6b;
}

.popUpButton {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #C5D272;
    border: 3px solid #A1AD53;
    outline: 3px solid #F3ECD9;
    box-shadow: 3px 3px 2px 2px #a7a7a7;
}

.popUpButton:hover {
    text-shadow: 1px 2px #6b6b6b;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #C5D272;
    border: 3px solid #A1AD53;
    outline: 3px solid #F3ECD9;
    box-shadow: 3px 3px 2px 2px #6b6b6b;
}

#inputName {
    color: #F3ECD9;
    font-family: "Akshar", sans-serif;
    font-weight: 600;
    font-size: 23px;
    letter-spacing: 1.5px;
    padding-left: 17px;
    width: 460px;
    height: 30px;
    margin-top: 617px;
    margin-left: 700px;
    border-radius: 15px;
    background-color: #C5D272;
    border: 3px solid #A1AD53;
    outline: 5px solid #F3ECD9;
    box-shadow: 3px 3px 2px 2px #a7a7a7;
}

::placeholder {
    color: #F3ECD9;
}