@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');

.background {
    width: 1255px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: scroll;    
    z-index: -2;
    margin-top: -10px;
}

.report {
    z-index: 2;
}

.logoh {
    text-align: center;
    margin-top: 10px;
}

.tombol {
    text-align: center;
    margin-top: 30px;
}

.rapot {
    text-align: center;
    margin-top: 20px;
}

.charRapot {
    width: 60%;
}

.imageRapot {
    margin-left: 150px;
}

.infoRapot {
    margin-top: 10px;
    margin-left: -60px;
}

.information {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: -50px;
    z-index: 10;
}

.coursesRapot {
    margin-left: 130px;
}

.jajanRapot {
    margin-top: 40px;
    margin-left: 50px;
}

.yeah {
    margin-left: 40px;
    margin-top: 170px;
    position: absolute;
}

.yeah2 {
    text-align: center;
    margin-top: 400px;
    position: absolute;
}